/* Global */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

body, html {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
	background-color:#f4f4f4;
	width: 100%;
	height: 100%;
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

h1 {
	font-family: 'Alegreya', serif;
	font-size: 2em;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

ul {
  margin:0;
  padding:0;
}

/* For forms */
.button_1 {
	height:38px;
	background:#A96DA3;
	border:0;
	padding-top: 12px;
	padding-bottom: 15px;
	color:#ffffff;
}

.button_1:hover {
	cursor: pointer;
	background:rgb(134, 79, 130);
	-webkit-transition: 0.3s ease-out;
	-moz-transition:    0.3s ease-out;
	-ms-transition:     0.3s ease-out;
	-o-transition:      0.3s ease-out;
	transition:         0.3s ease-out;
}

/* For urls */
.button_2 {
	height:38px;
	background:#A96DA3;
	border-radius: 5px;
	padding: 10px 10px;
	color:#ffffff;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.button_2:hover {
	cursor: pointer;
	color: #243053;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition:    color 0.3s ease-out;
	-ms-transition:     color 0.3s ease-out;
	-o-transition:      color 0.3s ease-out;
	transition:         color 0.3s ease-out;
}

@media (max-width:425px) {
	.button_2 {
		font-size: 1em;
		height: 28px;
	}
}

.default_cursor:hover {
	cursor: default;
}

/* Nav-bar **/
.nav-bar {
    background:#292c2f;
	color:#ffffff;
    padding-top: 30px;
    min-height:70px;
    border-bottom:#A96DA3 3px solid;
}
  
.nav-bar nav a {
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}

.nav-bar #branding a {
	text-decoration: none;
	text-transform: none;
	color:#ffffff;
}

.nav-bar li {
  display:inline;
  padding: 0 20px 0 20px;
}

.nav-bar #branding {
  float:left;
}
.nav-bar #branding h1 {
  margin:0;
}
.nav-bar nav {
  float:right;
  margin-top:10px;
}
.nav-bar .highlight, header .current a {
  color:#A96DA3;
  font-weight:bold;
}

.nav-bar header nav a:hover {
  color:#cccccc;
  font-weight:bold;
}

/* Footer */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	clear: both;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
	width: 40%;
	color: #ffffff;
}

/* Footer links */
.footer-distributed .footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-left .highlight {
  color:#A96DA3;
  font-weight:bold;
}

/* Footer Center */
.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a {
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */
.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 900px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

/* Index page */
/* Secure decenntralized storage solution */
#index-showcase img {
	height: auto;
	width: 100%;
}

/* Syzygyy storage */
#index-text {
	float: left;
	width: 70%;
	padding: 2%;
	padding-bottom: 50px;
}

#index-harddrive {
	float: right;
	padding-top: 5%;
	font-size: 20em;
}

@media (max-width: 1266px) {
	#index-harddrive {
		display: none;
	}
}

/* Nice green #00A572 */
#index-text h2 {
	color: #A96DA3;
}

/* who are we */
#index-about {
	background-color: #ffffff;
}

#index-about img, #index-about .wrapper {
	height: auto;
	vertical-align: top;
	display: inline-block;
}

#index-about img {
	width: 30%;
}

#index-about .wrapper {
	width: 50%;
	padding: 2%;
}

/* Company stats */
#index-stats {
	background-color: #33383b;
	text-align: center;
	color: #ffffff;
	padding: 3%;
}

.fa-handshake-o, .fa-server, .fa-database {
	color: #A96DA3;
}

#index-stats .stats-column {
	display: inline-block;
	padding: 1% 5% 0 5%;
}

/* Clients */
#index-clients {
	text-align: center;
	padding: 5%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: silver; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom right,#274abb,#cbb4d4);
}

#index-clients .text {
	width: 60%;
	margin: auto;
	text-align: left;
}

#index-clients h1, #index-clients h2 {
	padding: 1.5%;
}

/* About Page */
/* our mission */
#about-mission {
	text-align: center;
	margin-top: 5em;	
}

#about-mission h1 {
	color: #A96DA3;
}

#about-mission p {
	width: 60%;
	font-size: 3em;
	margin: auto;
	text-align: left;
	color: rgb(131, 121, 121);
}

#about-mission span {
	font-weight: bold;
	color: rgb(112, 64, 124);
}

/* our clients */
#about-clients {
	text-align: center;
	width: 60%;
	margin:auto;
	margin-top: 5em;
}

#about-clients h1 {
	color: #A96DA3;
}

.clients-row {
	display: inline-block;
}

.clients-row img {
	width: 150px;
	height: auto;
	margin: 2em 4em;
}

/* Investors */
#about-investors {
	text-align: center;
	margin: auto;
	margin-top: 5em;
	width: 80%;
}

#about-investors h1 {
	color: #A96DA3;
}

.investors {
	width: 40%;
	display: inline-block;
	margin: 2% 0 3% 0;
	vertical-align: top;
}

.investors img {
	width: 150px;
	height: auto;
	margin-bottom: 0.5em;
	display: inline-block;
	vertical-align: top;
}

.investors-text {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 1em;
	text-align: left;
}

.investors-text h2 {
	font-size: 2em;
}

.investors p {
	font-size: 1.2em;
}

/* Product Page */
#plans {
	text-align: center;
}

.plans-card {
	text-align: center;
	display: inline-block;
	width: 20%;
	margin: 0.5em;
	height: 25em;
	position:relative;
	color: #ffffff;
}

.plans-card h2 {
	font-weight: 100;
}

.plans-card .plan-description {
	margin: auto;
	width: 80%;
}

.plans-card .plan-description p {
	text-align: left;
	margin: 5px;
}

.plan-price {
	font-size: 2.5em;
}

.plans-button {
	position: absolute;
	left: 15%;
	width: 70%;
	bottom: 0;
	text-decoration: none;
	background: #ffffff;
	border-radius: 5px;
	color: #000000;
	margin-bottom: 10px;
	padding: 10px 0px;
	font-size: 1em;
	font-family: 'Roboto',sans-serif;
}

.plans-button:hover {
	cursor: pointer;
	background: rgb(218, 214, 218);
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-ms-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.button-free {
	color: #11998e;
}

.button-pro {
	color: #fc4a1a;
}

.button-business {
	color: #6C5B7B;
}

.button-enterprise {
	color: #514A9D;
}

.plans-card-free {
	background: #11998e;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #11998e, #21974c);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #11998e, #21974c);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plans-card-pro {
	background: #fc4a1a;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fc4a1a, #c78d18);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fc4a1a, #c78d18);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plans-card-business {
	background: #6C5B7B;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6C5B7B, rgb(177, 64, 98));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6C5B7B, rgb(177, 64, 98));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plans-card-enterprise {
	background: #514A9D;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #514A9D, rgb(15, 137, 153));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #514A9D, rgb(15, 137, 153));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	width: 85%;
}

/* Contacts Page */
/* Google maps */
#map {
  height: 30em;
  width: 100%;
}

.contact-wrapper {
	text-align: center;
}

.contact-info a {
	color:  #4a5361;
	text-decoration: none;
}

.contact-info a:hover {
	text-decoration: underline;
}

.contact-info, .contact-form {
	font-weight: bold;
	vertical-align: top;
	display: inline-block;
	margin: 3%;
}

.contact-wrapper h2 {
	color: #A96DA3;
}

.contact-form {
	text-align: left;
}

.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 10px 1px;
	margin: 1%;
	resize: none;
	border: 0;
	border-radius: 5px;
}

.contact-form button {
	width: 100%;
}
